<html xmlns:forums="http://typo3.org/ns/Weisgerber/Forums/ViewHelpers"  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<aside class="menu">
    <p class="menu-label">
        <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:general" />
    </p>
    <ul class="menu-list">
        <li><f:link.action arguments="{selectedSubmenu:'Dashboard'}" class="{f:if(condition: '{selectedSubmenu} == \'Dashboard\'', then: 'is-active')}"><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:dashboard" /></f:link.action></li>
        <li><f:link.action arguments="{selectedSubmenu:'Profile'}" class="{f:if(condition: '{selectedSubmenu} == \'Profile\'', then: 'is-active')}"><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:profile" /></f:link.action></li>
        <li><f:link.action arguments="{selectedSubmenu:'Settings'}" class="{f:if(condition: '{selectedSubmenu} == \'Settings\'', then: 'is-active')}"><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:settings" /></f:link.action></li>
        <li><f:link.action arguments="{selectedSubmenu:'Security'}" class="{f:if(condition: '{selectedSubmenu} == \'Security\'', then: 'is-active')}"><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:security" /></f:link.action></li>
        <li><f:link.action arguments="{selectedSubmenu:'Email'}" class="{f:if(condition: '{selectedSubmenu} == \'Email\'', then: 'is-active')}"><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:email" /></f:link.action></li>
    </ul>
    <p class="menu-label">
        <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:administration" />
    </p>
    <ul class="menu-list">
        <li><a>Moderators Team</a></li>

    </ul>
    <p class="menu-label">
        Transactions
    </p>
    <ul class="menu-list">
        <li><a>Payments</a></li>
        <li><a>Transfers</a></li>
        <li><a>Balance</a></li>
    </ul>
</aside>
</html>
