<html xmlns:forums="http://typo3.org/ns/Weisgerber/Forums/ViewHelpers"  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<article class="message is-danger">
    <div class="message-header">
        <p><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:permission-denied" /></p>
    </div>
    <div class="message-body">
        <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:please-login-text" />
    </div>
</article>
</html>
