<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="headline">
	<f:translate key="tx_forums_domain_model_thread.headline" />
</label><br />
	<f:form.textfield property="headline" id="headline" /><br />
<label for="closed">
	<f:translate key="tx_forums_domain_model_thread.closed" />
</label><br />
	<f:form.checkbox property="closed" id="closed" value="1" /><br />
<label for="cachedCounterPosts">
	<f:translate key="tx_forums_domain_model_thread.cached_counter_posts" />
</label><br />
	<f:form.textfield property="cachedCounterPosts" id="cachedCounterPosts" /><br />
<label for="cachedCounterViews">
	<f:translate key="tx_forums_domain_model_thread.cached_counter_views" />
</label><br />
	<f:form.textfield property="cachedCounterViews" id="cachedCounterViews" /><br />
<label for="sticky">
	<f:translate key="tx_forums_domain_model_thread.sticky" />
</label><br />
	<f:form.checkbox property="sticky" id="sticky" value="1" /><br />
<label for="slug">
	<f:translate key="tx_forums_domain_model_thread.slug" />
</label><br />
	<f:form.textfield property="slug" id="slug" /><br />
<label for="files">
	<f:translate key="tx_forums_domain_model_thread.files" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
</html>