<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

    <h1>{thread.title}</h1>
    <f:render partial="Post/List/List" arguments="{_all}" />
    <h2 class="mt-6"><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:reply" /></h2>
    <f:security.ifHasRole role="6">
        <f:then>
            <f:render partial="Post/New/New" arguments="{_all}" />
        </f:then><f:else>
            <f:render partial="Post/New/NewForbidden" arguments="{_all}" />
        </f:else>
    </f:security.ifHasRole>
</html>
