<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"  data-namespace-typo3-fluid="true">
    <meta itemprop="mainEntityOfPage" content="{f:uri.page(absolute: '1')}" />
    <meta itemprop="url" content="{f:uri.page(absolute: '1')}" />
    <h1>{thread.title}</h1>
    <div class="thread__controls thread__controls--top align-items-center d-flex justify-content-between">
        <div class="d-flex gap-3">
            <f:if condition="!{thread.closed}">
                <f:render partial="Prefabs/ButtonIcon" arguments="{type:'none', href:'#reply', title: '{f:translate(key:\'reply\')}',icon:'d-add', additionalClasses:'btn btn-secondary mb-0'}"/>
            </f:if>
            <f:security.ifAuthenticated>
                <f:render partial="Prefabs/ButtonIcon" arguments="{type:'action', action:'subscribe', arguments:'{thread:thread}', title: '{f:translate(key:\'LLL:EXT:forums/Resources/Private/Language/locallang.xlf:subscribe-thread\')}',icon:'bell-plus', additionalClasses:'btn-outline-secondary'}"/>
            </f:security.ifAuthenticated>

        </div>
        <div class="text-sm">
            <f:if condition="{thread.sticky}">
                <f:render partial="Thread/Pinned" />
            </f:if>
            <f:if condition="{thread.closed}">
                <f:render partial="Thread/Closed" />
            </f:if>
            <f:if condition="{thread.posts -> f:count()} == 1">
                <f:then>
                    <f:translate key="LLL:EXT:darf_ich_mit_social/Resources/Private/Language/locallang.xlf:one-post" />

                </f:then>
                <f:else>
                    <f:translate key="LLL:EXT:darf_ich_mit_social/Resources/Private/Language/locallang.xlf:x-posts" arguments="{0:'{thread.posts -> f:count()}'}" />

                </f:else>
            </f:if>
        </div>
    </div>

    <f:render partial="Basics/NummericPagination" arguments="{pagination:pagination, paginator:paginator, passthrough:'{thread:thread, action:\'show\'}', additionalClasses:'pt-2'}"/>
    <f:render partial="Post/List/List" arguments="{_all}" />
    <f:render partial="Basics/NummericPagination" arguments="{pagination:pagination, paginator:paginator, passthrough:'{thread:thread, action:\'show\'}', additionalClasses:'pt-4'}"/>

    <f:render partial="Post/New/New" arguments="{_all}" />
</html>
