<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:security.ifHasRole role="6">
    <f:then>
        <f:if condition="{thread.closed}">
            <f:then>
                <f:render partial="Post/New/New.Closed" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:render partial="Post/New/New.Allowed" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:render partial="Post/New/New.NoUser" arguments="{_all}" />
    </f:else>
</f:security.ifHasRole>


</html>
