<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="subject">
	<f:translate key="tx_forums_domain_model_privatemessage.subject" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="subject" id="subject" /><br />
<label for="content">
	<f:translate key="tx_forums_domain_model_privatemessage.content" />
</label><br />
	<f:form.textarea property="content" id="content" cols="40" rows="15" /><br />
</html>
