<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="panel-block">
        <label class="checkbox"  for="switchSticky">
            <input property="sticky" type="checkbox" role="switch" id="switchSticky">
            <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:tx_forums_domain_model_thread.sticky"/>
        </label>
    </div>
    <div class="panel-block">
        <label class="checkbox"  for="switchClosed">
            <input class="is-large" property="sticky" type="checkbox" role="switch" id="switchClosed">
            <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:tx_forums_domain_model_thread.closed" />
        </label>
    </div>
</html>
