<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="row">
    <div class="col-12">
        <div class="form-floating mb-3">
            <f:form.textfield class="form-control" placeholder="Titel" property="title" id="title" />
            <label for="title">Thema</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <f:form.textarea id="description" rows="10" property="posts.0.postContent.0.description" placeholder="Deine Nachricht ..." class="form-control"></f:form.textarea>
    </div>
</div>
</html>
