<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h5 class=""><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:latest-activities" /></h5>
<div class="card mt-3">
    <f:if condition="{posts}">
        <f:then>
            <f:render partial="Post/Latest/ListTable" arguments="{posts:posts}" />
        </f:then>
        <f:else>
            <f:render partial="Post/Latest/ListTableEmpty" arguments="{posts:posts}" />

        </f:else>
    </f:if>
</div>
</html>
