<html xmlns:forums="http://typo3.org/ns/Weisgerber/Forums/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="table is-striped is-no-border-spacing is-fullwidth">
    <thead class="{settings.css.table-head}">
    <tr>
        <th scope="col"><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:latest-activities" /></th>
    </tr>
    </thead>
    <tbody>
        <f:for each="{posts}" as="post">
            <tr>
                <td>
                    <p class="block">
                            {post.frontendUser.username} · Vor 10 Sekunden
                    </p>
                    <p>
                        <f:link.action action="show" controller="Thread" pluginName="Show" pageUid="{post.thread.pid}" arguments="{thread:post.thread}" >
                            Zum Thema {post.thread.headline}
                        </f:link.action>
                    </p>
                </td>

            </tr>
        </f:for>

    </tbody>
</table>
</html>
