<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:link.action action="show" controller="Thread" arguments="{thread:thread, jumpTo:1}">
        <div class="text-xs mb-1">
            {thread.lastPost.frontenduser.username}
        </div>
        <div class="">
            <f:render partial="Basics/Avatar" arguments="{avatar:thread.lastPost.frontenduser.avatar, username:thread.lastPost.frontendUser.username, fallbackLetterColor:'primary', fallbackBorderColor:'white', width:settings.defaults.avatarWidthThreadLatestPost, height:settings.defaults.avatarHeightThreadLatestPost}"/>
        </div>
    </f:link.action>
</html>
