<html xmlns:forums="http://typo3.org/ns/Weisgerber/Forums/ViewHelpers"  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="columns is-justify-content-flex-end">
        <div class="column is-narrow">
            <forums:render style="Generic" partial="Basics/Username" arguments="{frontendUser:thread.lastPost.frontenduser}" />
        </div>
        <div class="column is-narrow">
            <forums:render partial="Basics/Avatar" arguments="{image:thread.lastPost.frontenduser.image, width:settings.defaults.avatarWidthThreadLatestPost, height:settings.defaults.avatarHeightLatestPoster, placeholder:settings.defaults.avatar}"/>
        </div>
    </div>
</html>
