<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
    <table class="table is-striped is-no-border-spacing is-fullwidth">
        <thead class="{settings.css.table-head}">
        <tr>
            <th scope="col" colspan="4"><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:thread" /></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <article class="alert alert-warning">
                        <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:no-entries-found" />
                    </article>
                </td>
            </tr>

        </tbody>
    </table>
</html>
