<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:thread" /></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{threads}" as="thread">
             <tr>
                <td>
                    <div class="row">
                        <div class="col-auto">
                            <f:render partial="Basics/Avatar" arguments="{avatar:thread.firstPost.frontenduser.avatar, width:settings.defaults.avatarWidthThreadCreator, height:settings.defaults.avatarHeightThreadCreator, placeholder:settings.defaults.avatar}"/>
                        </div>
                        <div class="col-6">
                            <f:render partial="Thread/List/Headline" arguments="{_all}"/>
                            <f:render partial="Thread/List/Creator" arguments="{_all}"/>
                        </div>
                        <div class="col">
                            <div class="icon-text">
                                <span class="icon">
                                    <f:render partial="Prefabs/Icon" arguments="{icon:'msg',additionalClasses:'text-xs me-2'}"/>
                                </span>
                                <span>{thread.cachedCounterPosts}</span>

                                    </div>
                            <div class="icon-text">
                                <span class="icon">
                                    <f:render partial="Prefabs/Icon" arguments="{icon:'eye',additionalClasses:'text-xs me-2'}"/>
                                </span>
                                <span>{thread.cachedCounterViews}</span>

                            </div>
                        </div>
                        <div class="col">
                            <div class="{settings.css.row}">
                                <div class="col-12">
                                    <f:render partial="Thread/List/LastPoster" arguments="{_all}"/>

                                </div>

                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        </f:for>

        </tbody>
    </table>
</html>
