<table class="table table-striped table-hover mb-0">
    <tbody>
    <tr>
        <th>
            Name
        </th>
        <th>
            In
        </th>
        <th>
            Dsc
        </th>
        <th>
            Sum
        </th>
        <th>
            Ti
        </th>
        <th>
            Img
        </th>
        <th>
            Wiki
        </th>
        <th>
            SB
        </th>
        <th>
            Coun
        </th>
        <th>
            Pub
        </th>
        <th>
            Fin
        </th>
        <th>
            UID
        </th>
    </tr>
    <f:for as="record" each="{records}">
        <tr class="t3js-entity">
            <td class="col-responsive nowrap">
                <span class="treeline-icon treeline-icon-join"></span>
                <span>
                    <span class="t3js-icon icon icon-size-small icon-state-default icon-apps-pagetree-page-default" data-identifier="apps-pagetree-page-default">
                        <span class="icon-markup">
                            <f:if condition="{record.published}">
                                <f:then>
                                    <svg class="icon-color"><use xlink:href="/typo3/sysext/core/Resources/Public/Icons/T3Icons/sprites/apps.svg#apps-pagetree-page-domain"></use></svg>
                                </f:then>
                                <f:else>
                                    <svg class="icon-color"><use xlink:href="/typo3/sysext/core/Resources/Public/Icons/T3Icons/sprites/apps.svg#apps-pagetree-page-content-from-page-hideinmenu"></use></svg>
                                </f:else>
                            </f:if>
                        </span>
                    </span>
                </span>
                <span
                class="t3js-icon icon icon-size-small icon-state-default icon-flags-de" data-identifier="flags-de"><span
                class="icon-markup"><core:icon identifier="flags-de"/></span></span>
                <span>
                    <be:link.editRecord class="{f:if(condition:record.parent, then:'text-info')}" table="{table}" uid="{record.uid}">
                        {record.title}
                    </be:link.editRecord>

                    <f:if condition="{record.count}"> <span class="text-muted">({record.count}x)</span></f:if>
                </span>
                <f:if condition="{record.duplicate}">
                    <be:link.editRecord class="" table="{table}" uid="{record.duplicate_uid}">
                        <span class="text-danger"> {record.duplicate}</span>
                    </be:link.editRecord></span>
                </f:if>
            </td>
            <td>
                <f:if condition="!{record.intro}"><span class="badge badge-danger" title="Missing intro">I</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.description}"><span class="badge badge-success" title="Missing description-text">D</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.summary}"><span class="badge badge-dark" title="Missing summary">S</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.title_seo}"><span class="badge badge-warning" title="Missing SEO">Ti</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.image}"><span class="badge badge-danger" title="Missing image">I</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.wikipedia}"><span class="badge badge-info" title="Missing wiki">W</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.similar_breeds}"><span class="badge badge-dark" title="Missing similar breeds">S</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.country_of_origin}"><span class="badge badge-primary" title="Missing country">C</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.published}"><span class="badge badge-success" title="Not Published">!PUB</span></f:if>
            </td>
            <td>
                <f:if condition="!{record.finalized}"><span class="badge badge-warning" title="Not Published">!FIN</span></f:if>
            </td>
            <td>{record.uid}</td>
        </tr>
    </f:for>
    </tbody>
</table>
