<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        PrivateMessage:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for PrivateMessage</h1>



    <table class="tx_forums">
        <tr>
            <th><f:translate key="tx_forums_domain_model_privatemessage.subject" /></th>
            <th><f:translate key="tx_forums_domain_model_privatemessage.content" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{privateMessages}" as="privateMessage">
            <tr>
                <td><f:link.action action="show" arguments="{privateMessage : privateMessage}">{privateMessage.subject}</f:link.action></td>
                <td><f:link.action action="show" arguments="{privateMessage : privateMessage}">{privateMessage.content}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{privateMessage : privateMessage}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{privateMessage : privateMessage}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New PrivateMessage</f:link.action>
</f:section>
</html>
