<html xmlns:forums="http://typo3.org/ns/Weisgerber/Forums/ViewHelpers"  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="card">
    <footer class="card-footer">
        <div class="card-footer-item">
            <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
        </div>
        <div class="card-footer-item">
            <div class="content">
                <p>
                    {post.thread.headline}
                    <br>
                    <small>
                        <forums:render style="Generic" partial="Basics/Username" arguments="{frontendUser:post.frontendUser}" />
                    </small> · <small>31m</small>
                </p>
            </div>
        </div>
    </footer>
</div>


</html>

