<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="latestpost card">
    <div class="latestpost__content">
        <div class="" title="{post.frontendUser.username}">
            <div class="latestpost__user">
                <div class="latestpost__avatar">
                    <f:render partial="Basics/Avatar" arguments="{avatar:post.frontenduser.avatar, avatarSize:'sm', username:post.frontendUser.username, fallbackLetterColor:'primary', width:32, height:32, placeholder:settings.defaults.avatar}"/>
                </div>
                <div class="latestpost__username">
                    {post.frontendUser.username}
                </div>
            </div>
            <div class="latestpost__meta">
                <f:link.action class="latestpost__thread" action="show" controller="Thread" pluginName="Show" pageUid="{post.thread.pid}" arguments="{thread:post.thread, jumpTo:1}" >
                    {post.thread.title}
                </f:link.action>
                <br>

                <div class="latestpost__date">
                    <f:format.date pattern="MEDIUM">{post.currentPostContent.crdate}</f:format.date>
                </div>

            </div>
        </div>
    </div>
</div>

</html>

