<html xmlns:forums="http://typo3.org/ns/Weisgerber/Forums/ViewHelpers"  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="dropdown">
    <div class="dropdown-trigger">
        <button class="card-header-icon" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon">
                <i class="fas fa-ellipsis-h"></i>
              </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="#" class="dropdown-item ">
                <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span> <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:edit" />
            </a>
            <a href="#" class="dropdown-item has-text-danger">
                <span class="icon is-small">
                <i class="fas fa-trash-alt"></i>
              </span> <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:delete" />
            </a>
            <hr class="dropdown-divider">

            <a class="dropdown-item">
                <span class="icon is-small">
                <i class="far fa-flag"></i>
              </span> <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:report" />
            </a>
            <a href="#" class="dropdown-item">
                <span class="icon is-small">
                <i class="fas fa-quote-right"></i>
              </span> <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:quote" />
            </a>

        </div>
    </div>
</div>
</html>
