<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="dropdown">
    <button aria-controls="dropdown-menu" aria-expanded="false" aria-haspopup="true" class="btn btn-link mb-0"
            data-bs-toggle="dropdown">
        <f:render arguments="{icon:'menu-dots', additionalClasses:'font-weight-bolder'}" partial="Prefabs/Icon"/>
    </button>
    <ul class="dropdown-menu" id="dropdown-menu" role="menu">
        <li class="dropdown-item ">
            <a href="#" class="align-items-center d-flex gap-2">
                <f:render arguments="{icon:'message-pen'}" partial="Prefabs/Icon"/>
                <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:edit"/>
            </a>
        </li>
        <li class="dropdown-item ">
            <a class="link-danger align-items-center d-flex gap-2" href="#">
                <f:render arguments="{icon:'flag-diagonal-33'}" partial="Prefabs/Icon"/>
                <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:delete"/>
            </a>
        </li>
        <li class="dropdown-item ">
            <a class="align-items-center d-flex gap-2" class="align-items-center d-flex gap-2">
                <f:render arguments="{icon:'flag-diagonal-33'}" partial="Prefabs/Icon"/>
                <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:report"/>
            </a>
        </li>
        <li class="dropdown-item ">
            <a class="align-items-center d-flex gap-2" href="#">
                <f:render arguments="{icon:'msg-quote'}" partial="Prefabs/Icon"/>
            <f:translate key="LLL:EXT:forums/Resources/Private/Language/locallang.xlf:quote"/>
            </a>
        </li>

    </ul>
</div>
</html>
