<html xmlns:social="http://typo3.org/ns/Weisgerber/DarfIchMitSocial/ViewHelpers" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="counter">{iterator.index+1}</f:variable>
    <div class="card mb-5" id="post-{counter}">
        <div class="card-body">
            <header class="card-title">
                <div class="d-flex justify-content-between">
                    <div class="d-flex gap-3">
                        <a href="#post-{counter}" title="Post number {counter} in this thread" class="link-dark">#{counter}</a>
                        <f:format.date format="%d.%m.%Y - %H:%M:%S" date="{post.currentPostContent.crdate}"></f:format.date>
                    </div>
                    <f:render partial="Post/PostDropdownButton" arguments="{_all}" />
                </div>
            </header>
            <div class="row">
                <div class="col-3">
                    <div class="tile">
                        <div class="tile is-parent is-vertical has-text-centered">
                            <article class="tile is-child">
                                <p>
                                    <f:if condition="{post.frontenduser.avatar}">
                                        <f:render partial="Basics/Avatar" arguments="{avatar:post.frontenduser.avatar, width:settings.defaults.avatarWidthPost, height:settings.defaults.avatarHeightPost, placeholder:settings.defaults.avatar}"/>

                                    </f:if>
                                </p>
                                <p class="subtitle is-5 my-2">
                                    <f:render partial="Basics/Username" arguments="{frontenduser:post.frontenduser}" />
                                </p>
                                <div class="d-flex align-items-center">
                                    <f:if condition="{post.frontenduser}">
                                        <b><f:render partial="Basics/XP" arguments="{amount:post.frontenduser.xp}"/></b> <span class="vr mx-2"></span> <social:rank xp="{post.frontenduser.xp}" />
                                    </f:if>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <article class="tile is-child notification is-light">
                        <div class="content">
                            {post.currentPostContent.content -> f:format.html()}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</html>
