<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="forums__rte">
        <f:render partial="FormErrors" />
        <f:form action="update" controller="Post" name="post" object="{post}">
            <f:render partial="Basics/ReplyRTE.Basic" arguments="{_all}" />
            <f:render partial="Basics/ReplyRTE.Advanced" arguments="{_all}"/>
            <div class="row">
                <div class="col-12">
                    <f:form.submit class="btn btn-primary" value="{f:translate(key:'LLL:EXT:forums/Resources/Private/Language/locallang.xlf:edit-post')}" />
                </div>
            </div>
        </f:form>
    </div>
</html>
