<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <f:form.textfield disabled="{f:if(condition:'{forbidden}',then:'disabled')}" class="form-control" property="postContent.0.headline" id="headline" placeholder="{f:translate(key: 'LLL:EXT:forums/Resources/Private/Language/locallang.xlf:new-post-title')}" />
                </p>
            </div>
        </div>
    </div>
</f:comment>
<f:asset.script identifier="wysiwyg" src="EXT:darf_ich_mit/Resources/Public/Scripts/quill.js" />
<f:asset.css identifier="wysiwyg" href="EXT:darf_ich_mit/Resources/Public/Styles/quill.snow.css" />
<div class="control bg-white">
    <f:form.textarea disabled="{f:if(condition:'{forbidden}',then:'disabled')}" id="thread-content" property="postContent.0.description" class="form-control forums-rte wysiwyg-input d-none"></f:form.textarea>
    <div class="wysiwyg-editor" data-placeholder="{f:translate(key:'LLL:EXT:darf_ich_mit_social/Resources/Private/Language/locallang.xlf:your-message')}">
        <p></p>
    </div>
    <div class="forums-rte-wordcount"></div>
</div>

</html>
