<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div id="reply" class="forums__rte is-relative">
        <f:render partial="FormErrors" />

        <f:form.hidden name="thread" value="{thread}" />
        <f:render partial="Basics/ReplyRTE.Basic" arguments="{_all}" />
        <f:render partial="Basics/ReplyRTE.Advanced" arguments="{_all}"/>
        <f:if condition="!{forbidden}">
            <div class="row mt-3">
                <div class="col-12">
                    <f:render partial="Basics/Submit" arguments="{lll:'create-new-post'}" />
                </div>
            </div>
        </f:if>
    </div>
</html>
