<html  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <f:form.textfield disabled="{f:if(condition:'{forbidden}',then:'disabled')}" class="form-control" property="postContent.0.headline" id="headline" placeholder="{f:translate(key: 'LLL:EXT:forums/Resources/Private/Language/locallang.xlf:new-post-title')}" />
                </p>
            </div>
        </div>
    </div>
</f:comment>
<div class="page-header min-height-200 border-radius-xl mt-4" style="background-image: url({f:uri.image(image: '{frontendUser.coverPicture.image.0}', width: '1400')}); background-position-y: 50%;">
    <span class="mask bg-gradient-primary opacity-1"></span>
</div>
<div class="control mt-n9 card card-body blur shadow-blur mx-1 mx-sm-4">
    <f:form.textarea disabled="{f:if(condition:'{forbidden}',then:'disabled')}" id="thread-content" placeholder="{f:translate(key:'LLL:EXT:darf_ich_mit_social/Resources/Private/Language/locallang.xlf:your-message')}" rows="5" property="postContent.0.description" class="form-control forums-rte"></f:form.textarea>
    <div class="forums-rte-wordcount"></div>
</div>

</html>
