<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="lastActivity">
	<f:translate key="tx_forums_domain_model_frontenduser.last_activity" />
</label><br />
	<f:form.textfield property="lastActivity" id="lastActivity" value="{frontendUser.lastActivity->f:format.date()}" /><br />
<label for="profileVisits">
	<f:translate key="tx_forums_domain_model_frontenduser.profile_visits" />
</label><br />
	<f:form.textfield property="profileVisits" id="profileVisits" /><br />
<label for="socialFacebook">
	<f:translate key="tx_forums_domain_model_frontenduser.social_facebook" />
</label><br />
	<f:form.textfield property="socialFacebook" id="socialFacebook" /><br />
<label for="socialInstagram">
	<f:translate key="tx_forums_domain_model_frontenduser.social_instagram" />
</label><br />
	<f:form.textfield property="socialInstagram" id="socialInstagram" /><br />
<label for="socialPinterest">
	<f:translate key="tx_forums_domain_model_frontenduser.social_pinterest" />
</label><br />
	<f:form.textfield property="socialPinterest" id="socialPinterest" /><br />
<label for="socialTwitter">
	<f:translate key="tx_forums_domain_model_frontenduser.social_twitter" />
</label><br />
	<f:form.textfield property="socialTwitter" id="socialTwitter" /><br />
<label for="socialYoutube">
	<f:translate key="tx_forums_domain_model_frontenduser.social_youtube" />
</label><br />
	<f:form.textfield property="socialYoutube" id="socialYoutube" /><br />
<label for="preferedTimezone">
	<f:translate key="tx_forums_domain_model_frontenduser.prefered_timezone" />
</label><br />
	<f:form.textfield property="preferedTimezone" id="preferedTimezone" /><br />
<label for="allowEmailNews">
	<f:translate key="tx_forums_domain_model_frontenduser.allow_email_news" />
</label><br />
	<f:form.checkbox property="allowEmailNews" id="allowEmailNews" value="1" /><br />
<label for="allowShowOnlineStatus">
	<f:translate key="tx_forums_domain_model_frontenduser.allow_show_online_status" />
</label><br />
	<f:form.checkbox property="allowShowOnlineStatus" id="allowShowOnlineStatus" value="1" /><br />
<label for="socialSteam">
	<f:translate key="tx_forums_domain_model_frontenduser.social_steam" />
</label><br />
	<f:form.textfield property="socialSteam" id="socialSteam" /><br />
<label for="socialXbox">
	<f:translate key="tx_forums_domain_model_frontenduser.social_xbox" />
</label><br />
	<f:form.textfield property="socialXbox" id="socialXbox" /><br />
<label for="socialPsn">
	<f:translate key="tx_forums_domain_model_frontenduser.social_psn" />
</label><br />
	<f:form.textfield property="socialPsn" id="socialPsn" /><br />
<label for="socialNintendo">
	<f:translate key="tx_forums_domain_model_frontenduser.social_nintendo" />
</label><br />
	<f:form.textfield property="socialNintendo" id="socialNintendo" /><br />
<label for="socialXing">
	<f:translate key="tx_forums_domain_model_frontenduser.social_xing" />
</label><br />
	<f:form.textfield property="socialXing" id="socialXing" /><br />
<label for="threadsPerPage">
	<f:translate key="tx_forums_domain_model_frontenduser.threads_per_page" />
</label><br />
	<f:form.textfield property="threadsPerPage" id="threadsPerPage" /><br />
<label for="postsPerPage">
	<f:translate key="tx_forums_domain_model_frontenduser.posts_per_page" />
</label><br />
	<f:form.textfield property="postsPerPage" id="postsPerPage" /><br />
<label for="subscribeToThreadAfterReply">
	<f:translate key="tx_forums_domain_model_frontenduser.subscribe_to_thread_after_reply" />
</label><br />
	<f:form.checkbox property="subscribeToThreadAfterReply" id="subscribeToThreadAfterReply" value="1" /><br />
<label for="allowDisplayEmail">
	<f:translate key="tx_forums_domain_model_frontenduser.allow_display_email" />
</label><br />
	<f:form.checkbox property="allowDisplayEmail" id="allowDisplayEmail" value="1" /><br />
</html>